nav{
    display: flex;
    height: 60pxx;
    background-color: skyblue;
  }
  .nav-box{
    width: 80%;
    margin: auto;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .my-shop{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    font-family: cursive;
    cursor: pointer;
  }
  .cart span:nth-child(1){
    color: white;
    font-size: 1.5rem;
  }
  .counter{
    position: absolute;
    top: -12px;
    right: -13px;
    color: brown;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .icon{
    cursor: pointer;
  }